.sidebar{

    position: absolute;
    left: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px   ;
}
.item{
    cursor: pointer;
    color: #F5F5F5;
    padding: 5px 15px;
    font-size: 14px;


}
.item:hover{
    box-shadow: 0px 0px 14px 0px #6b6fa8 inset;

    clip-path: polygon(
            -4% 35%,
                /* верхняя левая */ 20% -22%,
                /* верхняя левая */ 100% 0%,
                /* верхняя правая */ 100% 0%,
                /* верхняя правая */ 100% 72%,
                /* нижняя правая */ 85% 115%,
                /* нижняя правая */ 0% 100%,
                /* нижняя левая */ 0% 20% /* нижняя левая */
    );
}
.active_item{
    box-shadow: 0px 0px 14px 0px #643CF0 inset;
    color: #F5F5F5;
    padding: 5px 15px;

    font-size: 14px;
    clip-path: polygon(
                                 -4% 35%,
                /* верхняя левая */ 20% -22%,
                /* верхняя левая */ 100% 0%,
                /* верхняя правая */ 100% 0%,
                /* верхняя правая */ 100% 72%,
                /* нижняя правая */ 85% 115%,
                /* нижняя правая */ 0% 100%,
                /* нижняя левая */ 0% 20% /* нижняя левая */
    );
}

.menu{
    display: none;
    width: 0;
    transition: width 0.3s ease;
}
.open{
    display: flex !important;
    align-items: center;
    justify-content: center;
}
.close_btn{
    display: none;
}


@media (max-width:800px) {
    .menu{
        display: flex;
        position: fixed;
        top: 20px;
        left: 20px;
        background:#1a1732;
        border-radius: 50px;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center
    ;
    }

    .sidebar{
        display: none;
        background:#1a1732;
        padding: 15px;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50%;

    }
    .close_btn_active{
        display: flex;
        position: absolute;
        top: 10px;
        right: 10px;

    }

}
