@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  max-width: 100vw;
  height: 100vh;
}

.chat-section {



}
body::-webkit-scrollbar {
  display: none ;
}

::-webkit-scrollbar {
  width:0px
}

::-webkit-scrollbar-thumb {
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgb(26, 23, 50) 0%, rgba(100,60,240,1) 52%, rgb(26, 23, 50) 100%);
  border-radius: 10px;

  border-left:19px solid #1a1732;
}

::-webkit-scrollbar-track {
  border-radius: 10px !important;
}
